@use "../variables" as variable;
@use "../utilidades/extends" as ext;
@use "../utilidades/mixins" as mix;

.mapa {
    width: 100%;
    height: 300px;
}

.infoContacto {

    a {
        text-decoration: none;
        color: variable.$colorTexto;
    }
}

.contenedorContacto {
    @include mix.flexAiJc(flex-start, flex-start);
    flex-direction: row;
    gap: 40px;
    padding: 20px;
}

//no le puedo sacar al boton el borde azul 

.btn {
    background-color: variable.$colorTitulos;
    margin-top: 20px;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: variable.$colorHeader;
    }
}

.form-control {
    background-color: variable.$colorFormulario;
}

.formulario-contacto {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}